.App {
    width: 100%;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    background-color: white;
    margin-top: 5%;
}

p {
    text-align: center;
}

.grow { 
  transition: transform .2s; 
}
  
.grow:hover { 
  transform: scale(1.2);
}
