
.navbar {
  overflow: hidden;
  background-color:rgb(66, 181, 196);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar .nav-item, .nav-link{
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font: bold;
}

.navbar .nav-item:hover {
  background: #f1f1f1;
  color: black;
}

.navbar .nav-link.active {
  background-color: orange;
  color: white;
}

.logo1 {
    margin-top: 15px;
    width: 100px;
}

.header {
  display: flex;
  justify-content: center;
}
